.wtogo_comparison { padding: 0 42px; }
    .wtogo_close_wrapper { float: right; }
    .wtogo_comparison h2 { color: #333; font-weight: bold; font-size: 26px; padding: 20px 0 0; }
    .wtogo_comparison h3 { color: #333; font-weight: bold; font-size: 18px; padding: 20px 0 5px; }
    .wtogo_comparison table { width: 100%; }
        .wtogo_comparison table td { padding: 10px 7px; border-bottom: 1px solid #eee; text-align: center}
        .wtogo_comparison table td:first-child { text-align: left; }
        .wtogo_comparison table td.redlife { color: red; }
        .wtogo_comparison table td.greenlife { color: green; font-weight: bold; }

    .wtogo_attractions h2 { padding-bottom: 20px; }
    .wtogo_attraction { width: 20%; box-sizing: border-box; text-align: center; float: left; padding-bottom: 50px; }
        .wtogo_attraction .container { padding-right: 10px; }
            .wtogo_attraction img { width: 100%; }
            .wtogo_attraction p.name { font-size: 100%; }
            .wtogo_attraction p.address { font-size: 80%; }